.root {
  display: flex;
  align-items: stretch;

  min-height: 52px;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.column {
  flex: 1;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
