.root {
  display: flex;
  min-height: 52px;
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.column {
  flex: 1;
  padding: 0 8px;
  text-align: center;
}
