.root {
  width: 100%;
  overflow-x: auto;
}

.container {
  min-width: 800px;
}

.filterRow {
  display: flex;
  padding: 16px 0;
}

.filterContainer {
  flex: 1;
  padding: 0 8px;
}

.buttonFilter {
  width: 100%;
  height: 44px;

  img {
    height: 100%;
  }
}

.inputFilter {
}

.loadMoreRow {
  height: 64px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.loadingAnimation {
  height: 100%;
}